services:
  app_proxy:
    environment:
      APP_HOST: glance_glance_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"

  glance:
    container_name: glance
    image: glanceapp/glance
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/config:/app/config
      - ${APP_DATA_DIR}/assets:/app/assets
      - ./glance.yml:/app/glance.yml
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 8280:8080
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN:-}
