services:
  app_proxy:
    environment:
      APP_HOST: glance_glance_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"
    restart: on-failure

  glance:
    container_name: glance
    image: glanceapp/glance:latest
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/config:/app/config
      - ${APP_DATA_DIR}/assets:/app/assets
      # Optionally, also mount docker socket if you want to use the docker containers widget
      # - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN:-}
